<div class="cardcfg custom-card-alignment">
  <div class="row d-flex">
    <div class="col">
      <div class="card regions-card" style="width: 200px;">
        <div class="card-body text-center card-text-large">
          <h5 class="card-title">Regions</h5>
          <p class="card-text">{{ RegionCount }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card states-card" style="width: 286px;">
        <div class="card-body text-center card-text-large">
          <h5 class="card-title">States</h5>
          <p class="card-text">{{ StatesCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>